<!DOCTYPE html>
<html lang="en">
    <head>
        <title>N-Queens Visualiser</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="icon" href="assets/graph.svg" type="image/icon type">
        
        <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="static/images/favicon/site.webmanifest" />
    <!-- Bootstrap CSS framework -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    
    <!-- Fontawesome icons -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Electrolize&family=Press+Start+2P&family=Staatliches&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/nqueen.css">

      
    </head>

    <body style="background: #0c0032; color: white">
      <div class="full-height" style="background: #0c0032; color: white">
        <nav class="navbar navbar-light" style="background: #17a2b8; height: 3.3em; color: white">
          <a class="navbar-brand" href="/">
            
            <span class="hide">Algo-Viz</span>
          </a>
        </nav>

        <div class="container searching-algos text-center">
            <input type="number" id="num_sq" placeholder="no. of Queens" min="4" required>
            <input type="number" id="size_sq" placeholder="size">
            <button id="sol-btn" class="light">SOLVE</button>
            <button id="next-sol-btn" class="dark">Next Solution</button>
            <br>
            <span>solution number: </span>
            <span id="sol-num">0</span>
      </div>
        
          
        <div>
            <div id="chessboard">
            </div>
            <!--
            <div class="spinner-container">
              <div class="spinner">
              </div>
            </div>
            -->
        </div>
        </div>
        <script src="js/nqueen.js"></script> 
    </body>

    
</html>